<template>
    <div class="col-md-40">
        <div class="card">
            <div class="body">
                <div class="toolbar">
                </div>

                <div class="table-responsive">
                    <table class="table table-hover m-b-0 c_list">
                        <thead>
                            <tr>
                            	<th class="text-center">{{('Name') }}</th>
                                <th class="text-center">{{('Phone') }}</th>
                                <th class="text-center">{{('Direction ') }}</th>
                                <th class="text-center">{{('Actions') }}</th>
                            </tr>
                        </thead>
                        <tbody>

                  			<tr v-for="client in clients.data.clients">    

                                <td class="text-center">{{ client.name }}</td>
                                <td class="text-center">{{ client.phone}}</td>
                                <td class="text-center">{{ client.direction}}</td>
                                <td class="text-center">                                    
                                    <a href="" v-on:click.prevent="deletes(client.id)"><i class="material-icons" style="font-size:20px;color:red">help_outline</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
  </div>
</template>
<script>
export default {
    name: "AllClientsComponent",
    props:{
        uid:{
            type: Number,
            required: true
        }
    },
    data() {
        return {
            clients: null,            
            alertMessage: ""
        };
    },

    mounted() {
    	 axios.get('api/clients/'+this.uid)
      .then(response => (this.clients = response))

    },
    methods: {

        edit(id) {
            this.loading = true;
            window.location.replace('/group/' + id + '/edit');
        },
        /**show(id) {
            this.loading = true;
            window.location.replace('/group/' + id);
        },**/
        deletes(id, inx) {
            swal('Are you sure to delete?', {
              buttons: {
                cancel: 'Cancel',
                accept: 'Yes'
              },
            }).then((value) => {
                if(value == 'accept') {
                    this.loading = true;
                    axios.delete('/api/group/' + id).then(res => {
                        this.loading = false;
                        if(res.data.status){
                            swal({
                                icon: "success",
                                title: this.__("Course deleted successfuly")
                            });
                            this.groups.data.splice(inx, 1);
                        } else {
                            this.loading = false;
                            swal({
                                icon: "error",
                                title: this.__("Error")
                            });
                        }
                    }).catch(err => {
                        this.loading = false;
                        swal({
                            icon: "error",
                            title: err.toString()
                        });
                    });
                }

            });
        }
    }
};

</script>

